// npm install -g eslint-plugin-react eslint-plugin-mocha eslint-standard
{
  "plugins": ["react", "mocha", "standard", "promise"],
  "extends": ["standard", "plugin:react/recommended"], //paired with plugins: ["react"]
  "parser": "babel-eslint", // without parser specified, I just get import is not defined
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "classes": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "jquery": true,
    "mocha": true,
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "mocha/no-exclusive-tests": 1,
    "react/jsx-no-duplicate-props": 1,
    "react/prop-types": 0,
    "react/no-find-dom-node": 1,
    "react/react-in-jsx-scope": 2,
    "no-debugger": 1,
    "semi": 1, // warn only
    "no-console": 1, // warn only
    "no-unused-vars": 1, // warn don't error
    "no-case-declarations": 0,
    "no-unused-expressions": 0, // mocha complains
    "array-bracket-spacing": [1, "always"], // space inside brackets
    "object-curly-spacing": [1, "always"], // I like space inside braces
    "comma-dangle": [1, "always-multiline"] // I like commas at the end
  }
}
